/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/bdt
/public/assistance_technique
/public/livrables
/public/archives
# /public/*
/public/storage
/public/profils
/public/images/acceuil/video
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
web.config
/.fleet
/.idea
/.vscode
/storage/app/*
/public/bordereaux
/public/visites_preleminaires
/public/web.config
